<section class="py-5" style="background-color: #fff; margin-top: 60px;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center; color: #b56301;" class="js-reveal">
        	About Naaseon Properties</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; font-size: 18px; text-align: center; color: #000;" class="js-reveal">
           Properties are the greatest investment you can ever make. Think of it like this;  In the 1950's the VW beetle was the car of the moment. It cost the same as building a shipping square at Asafo in Kumasi. Today the shopping center is still standing, more valuable than ever. This is shopping center is now valued at more than 10 million dollars. The VW Beetle has lost its value in recent years. A house is and has always been an investment. Your property should be your prized investments for generations and generations to come. With a wide raange of properties from houses, offices and shops. We also buy or help you broker good deals for your houses, lands and so on.</p><br>
           
          </div>
        </div>
      </div>
    </section>

    <section class="farmprodssection">

<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1506805932/houseshutterstock_kbdmqp.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #b56301; margin-bottom: 15px;">Home Properties.</h4>
                <p class="infoaddlh">
                 We have home properties spread out accross the country and other countries as well. Our home properties include apartments, two, three and four bedroom houses. Our home properties are located in serene environments that assure you of a peace of mind to relax everytime.</p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="http://res.cloudinary.com/nikasemo/image/upload/v1510183988/RC131-242-SqM-Fitted-Office-Space-for-Rent-in-Cebu-City-Banilad-Cebu-Grand-Realty-1_cqdsh0.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #b56301; margin-bottom: 15px;">Office Spaces</h4>
                <p class="infoaddlh">
                 Looking for an office or a shop? Our offices and shops are very modern with state of the art facilities for our clients and their customers. Our offices are located at vantage places that ensure your customers and clients find you. You are assured to make your sales!
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507346102/shutterstock_569120836_oteyky.jpg" width="200px" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #b56301; margin-bottom: 15px;">Request or Sell a Property.</h4>
                <p class="infoaddlh">
                You know what? You can your properties to us and also buy or rent properties Click on the "request or sell" button at the top right corner of the screen(On desktop, on phone kindly click the menu button at your top right corner. You will se the "request or sell" button in the menu). Place an order today!
                </p>
            </div>
        </div>
      </div>
    </div>

</section>
