<style type="text/css">

.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1510829087/land_xi6fzo.jpg);
  background-position:center;
  min-height: 200px;
}

.picshold{
  padding-top: 30px;
  padding-bottom: 50px;
}

.prophold{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

</style>

<body style="background-color: #f2f2f2;">

<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 70px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Lands on Sale!</h1>
      </div>
    </div>
  </div>
</section>

<section class="picshold">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510829785/ls1_oocxxk.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Abokobi</p>
        <p style="font-weight: 300; margin-top: 0px;"><span style="font-weight: 700;">Dimensions:</span> 1 plot 70' x 100'</p>
        <p style="font-weight: 300; margin-top: 0px;"><span style="font-weight: 700;">Price:</span> GHS 96,800</p>
        <p style="font-weight: 300; margin-top: 0px;"><span style="font-weight: 700;">Monthly repayment:</span> GHS 1,612.01<span style="font-size: 12px;"> (Qualifying monthly income: GHS 4,030.01)</span></p>
        <p style="font-weight: 300; margin-top: 0px;"><span style="font-weight: 700;">Ref:</span> V285</p>
        <p style="text-align: right;"><a href="/orders/new" class="btn btn-primary">Make a Request</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510829665/ls2_abe86n.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Daaban New Site</p>
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Dimensions:</span> 1 plot 90' x 120'</p>
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Price:</span> GHS 88,800</p>
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Monthly repayment:</span> GHS 3,012.01<span style="font-size: 12px;"> (Qualifying monthly income: GHS 7,050.01)</span></p>
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Ref:</span> V286</p>
        <p style="text-align: right;"><a href="/orders/new" class="btn btn-primary">Make a Request</a></p>
      </div>
    </div>
  </div>
</div>
</section>

</body>
