<style type="text/css">

.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1510176053/properties_ad6osc.jpg);
  background-position:center;
  min-height: 200px;
}

.picshold{
  padding-top: 30px;
  padding-bottom: 50px;
}

.prophold{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

</style>

<body style="background-color: #f2f2f2;">

<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 70px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Properties we have Now!</h1>
      </div>
    </div>
  </div>
</section>

<section class="picshold">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428908/ps3_dutr7x.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Kotei</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428908/ps4_q1033d.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Santasi</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428908/ps5_ji2swt.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Atasomanso</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428914/ps6_tma21h.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Ahenema Kokoben</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428909/ps7_ykyoog.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Parade Estates</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428909/ps8_tzpmgx.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;">Location:</span> Gyeyaase Flats</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428908/ps1_luityv.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;"></span></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1510428908/ps2_bdkpxd.jpg" class="img-fluid">
        <p style="font-weight: 300; margin-top: 8px;"><span style="font-weight: 700;"></span></p>
      </div>
    </div>
  </div>
</div>
</section>

</body>