<p style="text-align: left;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1509801052/naaseonlogo231_nrinug.png" width="75px" height="55px" style="margin-right:5px;">
          <span style="position:relative; top: -50px; color: #b56301; font-size: 30px; font-weight: 900;">Naaseon Properties</span></p>
<br>
<h4>Hello <%= @order.name %>,</h4>
<p>Your request has been reviewed. We will get back to you in X days.</p>