


<style type="text/css">

 a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}


  .navbackground{
     background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
  }



.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}




.navbar-light .navbar-brand1{
color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.navbar-scroll{
color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-scroll:focus, .navbar-light .navbar-scroll:hover {
  color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: #b56301;
  font-weight: 300;
  font-family: 'Asap Condensed', sans-serif;
  transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
  border-bottom: 4px solid transparent;
}

.navlinkscroll{
  color: #343a40;
  
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #b56301;
  font-weight: 700;
  border-bottom-color:#b56301;
}

 .navbar-light .navbar-nav .nav-link:hover {
  color: #b56301;
  font-weight: 700;
  border-bottom-color: #b56301;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff;
  font-weight: 500;
  background-color: #b56301;
  border-radius: 3px;
  padding: 5px;
}

.holdformsi{
  padding: 50px;
}



.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.farmprodssection{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.landhypes{
  margin-top: 15px;
}

.infoaddlh{
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
  line-height: 30px;
}

.ayoon{
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
}

.mycolorbtnw{
  background-color: #ffffff;
  color: #000;
}

.mycolorbtnw:hover{
  background-color: #f2f2f2;
  color: #000;
}

.mycolorbtnw:active{
  background-color: #f2f2f2;
  color: #000;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

  .navbar-light .navbar-brand1{
font-size: 14px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}


.innerctact{
  background-color: #ddd;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  min-height: 200px;
  padding: 5px;
  margin-bottom: 20px;
}


}

</style>


<nav class="navbar navbar-light navbar-expand-lg fixed-top navbackground">
      <div class="container">
        <a class="navbar-brand1" href="/" style=""><img src="https://res.cloudinary.com/nikasemo/image/upload/v1509801052/naaseonlogo231_nrinug.png" width="75px" height="55px" style="margin-right:5px;">
          <span style="position:relative; top: 3px; color: #b56301;">Naaseon Properties</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ourproperties">Our Properties</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/lands">Our Lands</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="/contacts/new">Contact Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/orders/new">Request or Sell</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>